# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
- List popular languages for Data Science
-List commonly used libraries used by Data Scientists
-Show how to do basic arithmetic in the Jupyter Notebook environment

## Author
Isaac Dobes

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Python's Pandas library
2. Python's NumPy library
3. R's ggplot2 library

| Data Science Tools |
 -----------------------
 RStudio 
 Apache Spark 
 TensorFlow

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335